h1 Eventos
ul.list-group
  li.list-group-item.list-group-item-action
    h4 Aventuri
    p Avenduri de 12/10/2019 a 13/10/2019
  li.list-group-item.list-group-item-action
    h4 Aventuri
    p Avenduri de 12/10/2019 a 13/10/2019
  li.list-group-item.list-group-item-action
    h4 Aventuri
    p Avenduri de 12/10/2019 a 13/10/2019
  li.list-group-item.list-group-item-action
    h4 Aventuri
    p Avenduri de 12/10/2019 a 13/10/2019
  li.list-group-item.list-group-item-action
    h4 Aventuri
    p Avenduri de 12/10/2019 a 13/10/2019
  li.list-group-item.list-group-item-action
    h4 Aventuri
    p Avenduri de 12/10/2019 a 13/10/2019
